# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ========== General Dependencies ==========
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# ========== Testing ==========
coverage/
apps/web/coverage/
apps/mobile/coverage/

# ========== Next.js (Web) ==========
apps/web/.next/
apps/web/out/
apps/web/.vercel/
apps/web/next-env.d.ts

# ========== Build / Output ==========
build/
dist/
apps/web/build/
packages/**/dist/

# ========== Misc ==========
.DS_Store
*.pem
*.tsbuildinfo
*.log
*.lock
*storybook.log

# ========== Debug Logs ==========
npm-debug.log*

# ========== Env Files ==========
.env.local
.env.*.local
.env.production
.env.sentry-build-plugin
apps/web/.env*

# ========== Editor ==========
.vscode/

# ========== TypeScript build cache ==========
*.tsbuildinfo
