@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** Colors */
  --background: #fafafa;
  --foreground: #222222;

  --primary: #005691;
  --primary-foreground: #fafafa;

  --destructive: #b91c1c;
  --destructive-foreground: #f7f9fb;

  --muted: #e8f1f5;

  --ring: #010816;

  /** gradient */
  --gradient: linear-gradient(
    90deg,
    rgba(65, 164, 253, 1),
    rgba(14, 244, 255, 1)
  );

  /** Viewport */
  --viewport-max: 1280px;
  --viewport-min: 330px;

  /** Margin */
  --layout-gap-max: 2.5rem;
  --layout-gap-min: 1rem;
  --layout-gap: clamp(
    var(--layout-gap-min),
    0.591rem + 2.182vw,
    var(--layout-gap-max)
  );

  /** Card grid */
  --column-min-size: 16.5rem;
  --gap: max(20px, 2.5%);
  --gutter: 1lh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gradient: linear-gradient(
      90deg,
      rgba(103, 126, 250, 1),
      rgba(142, 84, 219, 1)
    );
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    @apply text-foreground overflow-y-scroll;
    margin: 0;
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body:has(dialog[open]) {
    overflow: hidden;
  }

  h1,
  h2 {
    font-weight: bold;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }

  summary {
    display: block;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .arrow-down {
    @apply relative;
  }

  .arrow-down::before,
  .arrow-down::after {
    content: '';
    @apply z-10 absolute top-1/2 -translate-y-1/2 right-[20px] w-[2px] h-[10px] bg-black rounded-full origin-[50%_calc(100%-1px)];
  }

  .arrow-down::before {
    @apply rotate-[45deg];
  }

  .arrow-down::after {
    @apply rotate-[-45deg];
  }

  .custom-transition {
    @apply transition-colors delay-200 duration-200 ease-out;
  }

  .custom-opacity-transition {
    @apply transition-opacity delay-200 duration-200 ease-out;
  }
}

@layer components {
  .glassmorphism {
    @apply bg-white25
      shadow-glass
      backdrop-blur-4xl
      rounded-custom
      border-[1px]
      border-white18
      border-solid;
  }
}

.markdown {
  @apply text-gray-900 leading-normal break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-5;
}

.markdown pre {
  @apply bg-gray-100 rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base pl-8 list-disc;
}

.markdown ol {
  @apply text-base pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-5 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}
