@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** Colors */
  --background: #fafafa;
  --foreground: #222222;

  --primary: #005691;
  --primary-foreground: #fafafa;

  --destructive: #ee4444;
  --destructive-foreground: #f7f9fb;

  --muted: #e8f1f5;

  --ring: #010816;

  /** gradient */
  --gradient: linear-gradient(
    90deg,
    rgba(65, 164, 253, 1),
    rgba(14, 244, 255, 1)
  );

  /** Viewport */
  --viewport-max: 1280px;
  --viewport-min: 330px;

  /** Margin */
  --layout-gap-max: 2.5rem;
  --layout-gap-min: 1rem;
  --layout-gap: 0
    clamp(var(--layout-gap-min), 0.591rem + 2.182vw, var(--layout-gap-max));

  /** Card grid */
  --column-min-size: 16.5rem;
  --gap: max(16px, 2.5%);
  --gutter: 1lh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #fafafa;
    --gradient: linear-gradient(
      90deg,
      rgba(103, 126, 250, 1),
      rgba(142, 84, 219, 1)
    );
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    @apply text-foreground overflow-y-scroll;
    margin: 0;
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2 {
    font-weight: bold;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }

  summary {
    display: block;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .arrow-down {
    @apply relative block;
  }

  .arrow-down::before,
  .arrow-down::after {
    content: '';
    @apply z-10 absolute top-1/2 -translate-y-1/2 right-[30px] w-[2px] h-[10px] bg-black rounded-full origin-[50%_calc(100%-1px)];
  }

  .arrow-down::before {
    @apply rotate-[45deg];
  }

  .arrow-down::after {
    @apply rotate-[-45deg];
  }
}

@layer components {
  .glassmorphism {
    @apply bg-white25
      shadow-glass
      backdrop-blur-4xl
      rounded-custom
      border-[1px]
      border-white18
      border-solid;
  }
}
